*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #FFFFFC;
    color: black;
}

#main {
    width: 40%;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#homeButton, #playAgain {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background-color: #FF7F11;
    color: #FFFFFC;
}

#homeButton:hover, #playAgain:hover{
    background-color: #4aa4ff;
}

#playAgain{
    font-size: 16px;
}

#nextButton {
    border: none;
    padding: 10px 20px;
    background-color: #4aa4ff;
    color: #FFFFFC;
}

#nextButton:hover{
    background-color: #FF7F11;
}

#guessInput {
    padding: 10px 60px;
    background-color: #ffe6bd;
    color: #251605;
    margin-left: 10px;
}