body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFFFFC;
    color: black;
}

#main{
    width: 30%;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#guessButton {
    padding: 10px 20px;
    background-color: #FF7F11;
    color: #FFFFFC;
}

#guessInput{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 60px;
    background-color: #E2C391;
    color: #251605;
}

#playFriend{
    padding: 10px 20px;
    background-color: #FF7F11;
    color: #FFFFFC;
}